.m-presale .m-presale__description {
  margin-bottom: 20px; }

.m-presale .m-presale__stations-list {
  list-style: disc;
  padding-left: 20px; }
  .m-presale .m-presale__stations-list li {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0 0 10px 0; }

@media all and (min-width: 500px) {
  .m-presale__description {
    margin-bottom: 0;
    max-width: 50%;
    padding-right: 20px; } }
