.h-constraint {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px; }

.o-grid {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.o-grid__column {
  align-self: auto;
  flex-grow: 1;
  flex-shrink: 1; }
  .o-grid__column.o-grid__column--space-sm {
    padding: 15px; }
  .o-grid__column.o-grid__column--space-md {
    padding: 20px; }

@media all and (max-width: 500px) {
  .o-grid {
    display: block; }
    .o-grid .o-grid__column {
      flex-grow: 0; } }
