.w-facebook {
	display: block;
	width: 100%;
	position: relative;
	height: 600px;
}

.w-facebook__inner {
	min-width: 340px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.fb-page.fb_iframe_widget {
		width: 100%;
	}
}
