@import '../../../../assets/css/viewport.scss';

.a-sponsor {
	display: inline-block;

	@include mobile {
		// max-height: 300px;
		padding: 10px 20px;
		margin: 0 10px 20px 10px;
	}

	.a-image {
		margin: 0 auto;
		height: 100px;
		width: auto;

		@include mobile {
			height: auto;
		}
	}

	@include desktop {
		.a-sponsor__image {
			filter: gray;
			filter: grayscale(1);
			transition: all 0.8s ease-in-out;

			&:hover {
				filter: none;
				filter: grayscale(0);
			}
		}
	}
}
