.w-tickets__share-container {
	font-size: 45px;
	text-align: center;
}

.w-tickets__payment-foot-node {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	color: lighten(darken(#0b363b, 4), 13);
	text-align: center;
}

.w-tickets__coming-soon {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 30px;

	.a-icon {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		display: inline-block;
		border: 1px solid #fff;
		border-radius: 99px;
		margin: 20px 0;
	}
}

// .w-tickets__embedded {
// 	min-height: 400px;
// }

.w-tickets {
	.w-tickets__button {
		margin: 0 auto;
		display: block;
		padding: 13px 27px;
		background-color: #fff;
		transition: all 0.3s linear;
		text-transform: uppercase;
		border: none;
		outline: none;
		border-radius: 5px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.8);
		}

		a {
			font-family: 'FVAlmeloRegular', 'Open Sans', sans-serif;
			font-size: 25px;
			color: #0b363b;

			&:hover {
				color: #0b363b;
			}
		}
	}
}

// --------- LIGHT
.w-tickets--cs-light {
	.w-tickets__payment-foot-node  {
		color: lighten(darken(#fff, 4), 13);
	}
}
