@import './viewport.scss';

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	color: #0b363b;
	// background-color: #f8faee;
	background-color: #fff;

	@include mobile {
		overflow-x: hidden;
	}
}

a {
	color: #0b363b;
	text-decoration: none;
	display: inline-block;
	transition: color 0.3s linear;

	.a-icon {
		margin-left: 5px;
	}

	&:hover {
		color: #dc626f;
	}
}

p {
	word-wrap: break-word;
}

// .container-fluid.container-fluid--stretch-out {
// 	padding-left: 0;
// 	padding-right: 0;

// 	[class*=col-] {
// 		padding: 0;
// 	}
// }
