*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	color: #0b363b;
	// background-color: #f8faee;
	background-color: #fff;
}

a {
	color: #0b363b;
	text-decoration: none;
	display: inline-block;
	transition: color 0.3s linear;

	.a-icon {
		margin-left: 5px;
	}

	&:hover {
		color: #dc626f;
	}
}

.container-fluid.container-fluid--stretch-out {
	padding-left: 0;
	padding-right: 0;

	[class*=col-] {
		padding: 0;
	}
}
