*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  color: #0b363b;
  background-color: #f8faee; }

a {
  color: #0b363b;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s linear; }
  a .a-icon {
    margin-left: 5px; }
  a:hover {
    color: #dc626f; }
