*,
*:after,
*:before {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	color: #000000;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	transition: color 0.3s linear;

	.a-icon {
		margin-left: 5px;
	}

	&:hover {
		color: #555;
	}
}
