@font-face {
	font-family: 'FVAlmeloRegular';
	src: url(../fonts/fv-almelo/fv_almelo-webfont.eot);
	src: url(../fonts/fv-almelo/fv_almelo-webfont.eot?#iefix) format('embedded-opentype'),
		url(../fonts/fv-almelo/fv_almelo-webfont.woff) format('woff'),
		url(../fonts/fv-almelo/fv_almelo-webfont.ttf) format('truetype'),
		url(../fonts/fv-almelo/fv_almelo-webfont.svg#FVAlmeloRegular) format('svg');
	font-weight: normal;
	font-style: normal;
}
