@import './fonts.scss';

body,
button,
input,
select,
textarea {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'FVAlmeloRegular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 0.15rem;
}

h2 {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
}

p {
	font-size: 17px;
	line-height: 23px;
	font-weight: 300;
	margin-bottom: 10px;
}
