.o-header {
  height: 120px;
  background-color: #0b363b;
  z-index: 100; }

.o-header__brand .a-image {
  margin: 10px 0;
  width: 100px; }

.m-link-list.m-link-list--main-navigation {
  height: 120px; }
  .m-link-list.m-link-list--main-navigation .m-link-list__item {
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    line-height: 120px;
    float: left;
    color: #f7f9ed;
    font-size: 0.7rem;
    padding: 0 20px; }
    .m-link-list.m-link-list--main-navigation .m-link-list__item:first-child {
      padding-left: 0; }
    .m-link-list.m-link-list--main-navigation .m-link-list__item:last-child {
      padding-right: 0; }
