.m-social-media-links {
  font-size: 30px;
  list-style: none;
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto; }

.m-social-media-links__entry {
  float: left;
  width: 50%;
  text-align: center; }
