@import '../../../../assets/css/viewport.scss';

.m-section {
	width: 100%;
	padding: 110px 10px;
	transform: skew(0, 5deg);
	margin: 90px 0;

	@include mobile {
		margin: 50px 0;
		overflow: hidden;
	}
}

.m-section__article {
	margin: 0 auto;
	max-width: 1160px; // 1200 - (2x20px)
	transform: skew(0, -5deg);
}

.m-section.m-section--skew-inverse {
	transform: skew(0, -5deg);

	.m-section__article {
		transform: skew(0, 5deg);
	}
}

.m-section__title,
.m-section__description {
	padding: 0 0 40px 0;
}

.m-section__title {
	font-size: 45px;
	max-width: 80%;
	margin: 0 auto 40px auto;

	@include mobile {
		font-size: 30px;
	}
}

.m-section__description {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

body * .m-section:first-of-type {
	// margin-top: 0;
	padding-top: 90px;
}

body * .m-section:last-of-type {
	// margin-bottom: 0;
	padding-bottom: 0;
}
