.m-section {
	&.h-colorize--red {
		color: #f8faee;
		background-color: #ed8197;
	}

	&.h-colorize--green {
		color: #f8faee;
		background-color: #70973d;

		a {
			&:hover {
				color: #909b59;
			}
		}
	}

	&.h-colorize--white {
		background-color: #fff;
	}

	&.h-colorize--dark-turquise {
		color: #f8faee;
		background-color: #0b363b;

		a {
			color: #f8faee;

			&:hover {
				color: #909b59;
			}
		}
	}
}
