.m-section.h-colorize--red {
  color: #f8faee;
  background-color: #ed8197; }

.m-section.h-colorize--green {
  color: #f8faee;
  background-color: #70973d; }
  .m-section.h-colorize--green a:hover {
    color: #909b59; }

.m-section.h-colorize--white {
  background-color: #fff; }

.m-section.h-colorize--dark-turquise {
  color: #f8faee;
  background-color: #0b363b; }
  .m-section.h-colorize--dark-turquise a {
    color: #f8faee; }
    .m-section.h-colorize--dark-turquise a:hover {
      color: #909b59; }
