@import '../../../../assets/css/viewport.scss';

.m-section {
	&.h-colorize--red {
		color: #ffffff;
		background-color: #ed8197;
	}

	&.h-colorize--black {
		color: #ffffff;
		background-color: #000000;
	}

	&.h-colorize--green {
		color: #ffffff;
		background-color: #70973d;

		a {
			&:hover {
				color: #909b59;
			}
		}
	}

	&.h-colorize--white {
		background-color: #ffffff;
	}

	&.h-colorize--dark-turquise {
		color: #ffffff;
		background-color: #0b363b;

		a {
			color: #ffffff;

			&:hover {
				color: #909b59;
			}
		}
	}

	&.m-section--social {
		margin-top: 0;
		padding-top: 20px;

		@include mobile {
			margin-bottom: 0;
		}
	}

	&.m-section--sponsors {
		margin-bottom: 10px;
	}

	&.m-section--logo {
		margin: 90px 0 0 0;
		padding: 0;
	}
}
