.a-avatar__image {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 100px; }

.a-avatar__name {
  font-size: 1.5rem; }

.a-avatar__role {
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.7rem; }

.a-avatar__content {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0 10px; }
