@import '../../../../assets/css/viewport.scss';

$countdown-text-size: 35px;
$countdown-text-size-mobile: 25px;

.a-countdown {
	@include desktop {
		padding: 30px 0;
	}

	.a-countdown__content {
		text-align: center;
		line-height: #{$countdown-text-size * 2};
		margin-bottom: 0;

		@include mobile {
			line-height: #{$countdown-text-size-mobile * 2};
		}
	}

	.a-countdown__content-fragment,
	.a-countdown__content-text {
		font-size: $countdown-text-size;

		@include mobile() {
			font-size: $countdown-text-size-mobile;
		}
	}

	.a-countdown__content-fragment {
		font-weight: 700;
		margin: 0 10px 0 0;
	}

	.a-countdown__content-text {
		font-weight: 300;
	}

	.a-countdown__content-wrapper {
		margin-right: 20px;

		@include mobile {
			display: block;
			margin-right: 0;
		}
	}
}
