.m-sponsors .a-sponsor {
  display: block;
  margin: 20px; }
  .m-sponsors .a-sponsor .a-sponsor__image {
    margin: 0 auto; }
  @media all and (min-width: 500px) {
    .m-sponsors .a-sponsor .a-sponsor__image {
      filter: gray;
      filter: grayscale(1);
      transition: all 0.8s ease-in-out; }
      .m-sponsors .a-sponsor .a-sponsor__image:hover {
        filter: none;
        filter: grayscale(0); } }

.m-sponsors .m-sponsors__row {
  margin: 30px 0; }

.m-sponsors .a-sponsor__image {
  max-width: 220px;
  max-height: 120px; }

.m-sponsors .m-sponsors__primary .a-sponsor__image {
  max-width: 280px; }

.m-sponsors .m-grid__column {
  align-self: center; }
