@import '../../../../assets/css/viewport.scss';

.m-sponsors {
	.a-sponsors__entry {
		text-align: center;
		margin-bottom: 30px;
	}

	.a-sponsor__image {
		max-width: 220px;
		max-height: 120px;
	}

	.a-sponsor {
		margin: 25px;

		@include mobile {
			margin: 20px auto;
		}
	}
}
