@import '../../../../assets/css/z-index.scss';

$header-size: 120px;
$logo-size: 100px;

.o-header {
	height: $header-size;
	background-color: #0b363b;
	@include z-index(header);
}

.o-header__brand .a-image {
	margin: #{($header-size - $logo-size) / 2} 0;
	width: $logo-size;
}
