@import '../../../../assets/css/viewport.scss';

$image-size: 400px;

.m-article__list-wrapper {
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
}

.m-article {
	margin-bottom: 50px;
	transform-style: preserve-3d;
	transform: perspective(1000px);

	@include mobile {
		margin-bottom: 20px;
		transform: none !important; // override tilt effect on mobile

		.js-tilt-glare {
			display: none;
		}
	}

	&:hover {
		z-index: 10;
	}

	.js-tilt-glare {
		width: 90% !important;
		left: 5% !important;
		right: 5% !important;
	}
}

.m-article__wrapper {
	position: relative;
	width: 90%;
	margin: 0 auto;

	@include mobile {
		background-color: #000;
		border-radius: 8px;
	}
}

.m-article__figure {
	height: $image-size;
	overflow: hidden;
	margin-bottom: 25px;
	border-radius: 2px;
	background-color: #dfdfdf; // placeholder color

	@include mobile {
		margin-bottom: 0;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		height: $image-size / 3 * 2;
	}
}

.m-article__figure img {
	display: block;
	width: 100%;
	min-height: $image-size;

	@include mobile {
		min-height: 0;
	}
}

.m-article__content {
	position: absolute;
	transform: translateZ(20px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px 25px 25px 25px;
	text-align: left;

	@include mobile {
		position: relative;
	}

	p,
	h2 {
		will-change: text-shadow;
		transition: text-shadow 0.5s linear;
		color: #fff;
		text-align: left;
		text-shadow: 0 0 5px #888;
	}

	&:hover {
		p,
		h2 {
			text-shadow: 0 0 10px #444;
		}
	}

	@include mobile {
		p,
		h2 {
			text-shadow: none;
		}

		&:hover {
			p,
			h2 {
				text-shadow: none;
			}
		}
	}
}

.m-article__text {
	font-weight: 600;
	font-size: 17px;
	line-height: 23px;
	margin-top: 10px;
}
