@import './variables.scss';

@font-face {
	font-family: '#{$icomoon-font-family}';
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?v1wysm');
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?v1wysm#iefix') format('embedded-opentype'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?v1wysm') format('truetype'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?v1wysm') format('woff'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?v1wysm##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='a-icon-'],
[class*=' a-icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.a-icon-facebook {
	&:before {
		content: $a-icon-facebook;
		color: #3b5998;
	}
}
.a-icon-whatsapp {
	&:before {
		content: $a-icon-whatsapp;
		color: #25d366;
	}
}
.a-icon-messenger {
	&:before {
		content: $a-icon-messenger;
		color: #0084ff;
	}
}
.a-icon-price-tags {
	&:before {
		content: $a-icon-price-tags;
	}
}
.a-icon-cart {
	&:before {
		content: $a-icon-cart;
	}
}
.a-icon-credit-card {
	&:before {
		content: $a-icon-credit-card;
	}
}
.a-icon-pushpin {
	&:before {
		content: $a-icon-pushpin;
	}
}
.a-icon-location2 {
	&:before {
		content: $a-icon-location2;
	}
}
.a-icon-compass2 {
	&:before {
		content: $a-icon-compass2;
	}
}
.a-icon-map2 {
	&:before {
		content: $a-icon-map2;
	}
}
.a-icon-clock {
	&:before {
		content: $a-icon-clock;
	}
}
.a-icon-bubbles {
	&:before {
		content: $a-icon-bubbles;
	}
}
.a-icon-glass2 {
	&:before {
		content: $a-icon-glass2;
	}
}
.a-icon-rocket {
	&:before {
		content: $a-icon-rocket;
	}
}
.a-icon-accessibility {
	&:before {
		content: $a-icon-accessibility;
	}
}
.a-icon-power {
	&:before {
		content: $a-icon-power;
	}
}
.a-icon-earth {
	&:before {
		content: $a-icon-earth;
	}
}
.a-icon-link {
	&:before {
		content: $a-icon-link;
	}
}
.a-icon-flag {
	&:before {
		content: $a-icon-flag;
	}
}
.a-icon-attachment {
	&:before {
		content: $a-icon-attachment;
	}
}
.a-icon-sun {
	&:before {
		content: $a-icon-sun;
	}
}
.a-icon-facebook2 {
	&:before {
		content: $a-icon-facebook2;
	}
}
.a-icon-instagram {
	&:before {
		content: $a-icon-instagram;
	}
}
.a-icon-whatsapp1 {
	&:before {
		content: $a-icon-whatsapp1;
	}
}
.a-icon-telegram {
	&:before {
		content: $a-icon-telegram;
	}
}
.a-icon-github {
	&:before {
		content: $a-icon-github;
	}
}
.a-icon-paypal {
	&:before {
		content: $a-icon-paypal;
	}
}
