$icomoon-font-path: 'fonts' !default;

$a-icon-a-icon--activity: '\e900';
$a-icon-a-icon--airplay: '\e901';
$a-icon-a-icon--alert-circle: '\e902';
$a-icon-a-icon--alert-octagon: '\e903';
$a-icon-a-icon--alert-triangle: '\e904';
$a-icon-a-icon--align-center: '\e905';
$a-icon-a-icon--align-justify: '\e906';
$a-icon-a-icon--align-left: '\e907';
$a-icon-a-icon--align-right: '\e908';
$a-icon-a-icon--anchor: '\e909';
$a-icon-a-icon--aperture: '\e90a';
$a-icon-a-icon--archive: '\e90b';
$a-icon-a-icon--arrow-down: '\e90c';
$a-icon-a-icon--arrow-down-circle: '\e90d';
$a-icon-a-icon--arrow-down-left: '\e90e';
$a-icon-a-icon--arrow-down-right: '\e90f';
$a-icon-a-icon--arrow-left: '\e910';
$a-icon-a-icon--arrow-left-circle: '\e911';
$a-icon-a-icon--arrow-right: '\e912';
$a-icon-a-icon--arrow-right-circle: '\e913';
$a-icon-a-icon--arrow-up: '\e914';
$a-icon-a-icon--arrow-up-circle: '\e915';
$a-icon-a-icon--arrow-up-left: '\e916';
$a-icon-a-icon--arrow-up-right: '\e917';
$a-icon-a-icon--at-sign: '\e918';
$a-icon-a-icon--award: '\e919';
$a-icon-a-icon--bar-chart: '\e91a';
$a-icon-a-icon--bar-chart-2: '\e91b';
$a-icon-a-icon--battery: '\e91c';
$a-icon-a-icon--battery-charging: '\e91d';
$a-icon-a-icon--bell: '\e91e';
$a-icon-a-icon--bell-off: '\e91f';
$a-icon-a-icon--bluetooth: '\e920';
$a-icon-a-icon--bold: '\e921';
$a-icon-a-icon--book: '\e922';
$a-icon-a-icon--book-open: '\e923';
$a-icon-a-icon--bookmark: '\e924';
$a-icon-a-icon--box: '\e925';
$a-icon-a-icon--briefcase: '\e926';
$a-icon-a-icon--calendar: '\e927';
$a-icon-a-icon--camera: '\e928';
$a-icon-a-icon--camera-off: '\e929';
$a-icon-a-icon--cast: '\e92a';
$a-icon-a-icon--check: '\e92b';
$a-icon-a-icon--check-circle: '\e92c';
$a-icon-a-icon--check-square: '\e92d';
$a-icon-a-icon--chevron-down: '\e92e';
$a-icon-a-icon--chevron-left: '\e92f';
$a-icon-a-icon--chevron-right: '\e930';
$a-icon-a-icon--chevron-up: '\e931';
$a-icon-a-icon--chevrons-down: '\e932';
$a-icon-a-icon--chevrons-left: '\e933';
$a-icon-a-icon--chevrons-right: '\e934';
$a-icon-a-icon--chevrons-up: '\e935';
$a-icon-a-icon--chrome: '\e936';
$a-icon-a-icon--circle: '\e937';
$a-icon-a-icon--clipboard: '\e938';
$a-icon-a-icon--clock: '\e939';
$a-icon-a-icon--cloud: '\e93a';
$a-icon-a-icon--cloud-drizzle: '\e93b';
$a-icon-a-icon--cloud-lightning: '\e93c';
$a-icon-a-icon--cloud-off: '\e93d';
$a-icon-a-icon--cloud-rain: '\e93e';
$a-icon-a-icon--cloud-snow: '\e93f';
$a-icon-a-icon--code: '\e940';
$a-icon-a-icon--codepen: '\e941';
$a-icon-a-icon--command: '\e942';
$a-icon-a-icon--compass: '\e943';
$a-icon-a-icon--copy: '\e944';
$a-icon-a-icon--corner-down-left: '\e945';
$a-icon-a-icon--corner-down-right: '\e946';
$a-icon-a-icon--corner-left-down: '\e947';
$a-icon-a-icon--corner-left-up: '\e948';
$a-icon-a-icon--corner-right-down: '\e949';
$a-icon-a-icon--corner-right-up: '\e94a';
$a-icon-a-icon--corner-up-left: '\e94b';
$a-icon-a-icon--corner-up-right: '\e94c';
$a-icon-a-icon--cpu: '\e94d';
$a-icon-a-icon--credit-card: '\e94e';
$a-icon-a-icon--crop: '\e94f';
$a-icon-a-icon--crosshair: '\e950';
$a-icon-a-icon--database: '\e951';
$a-icon-a-icon--delete: '\e952';
$a-icon-a-icon--disc: '\e953';
$a-icon-a-icon--dollar-sign: '\e954';
$a-icon-a-icon--download: '\e955';
$a-icon-a-icon--download-cloud: '\e956';
$a-icon-a-icon--droplet: '\e957';
$a-icon-a-icon--edit: '\e958';
$a-icon-a-icon--edit-2: '\e959';
$a-icon-a-icon--edit-3: '\e95a';
$a-icon-a-icon--external-link: '\e95b';
$a-icon-a-icon--eye: '\e95c';
$a-icon-a-icon--eye-off: '\e95d';
$a-icon-a-icon--facebook: '\e95e';
$a-icon-a-icon--fast-forward: '\e95f';
$a-icon-a-icon--feather: '\e960';
$a-icon-a-icon--file: '\e961';
$a-icon-a-icon--file-minus: '\e962';
$a-icon-a-icon--file-plus: '\e963';
$a-icon-a-icon--file-text: '\e964';
$a-icon-a-icon--film: '\e965';
$a-icon-a-icon--filter: '\e966';
$a-icon-a-icon--flag: '\e967';
$a-icon-a-icon--folder: '\e968';
$a-icon-a-icon--folder-minus: '\e969';
$a-icon-a-icon--folder-plus: '\e96a';
$a-icon-a-icon--gift: '\e96b';
$a-icon-a-icon--git-branch: '\e96c';
$a-icon-a-icon--git-commit: '\e96d';
$a-icon-a-icon--git-merge: '\e96e';
$a-icon-a-icon--git-pull-request: '\e96f';
$a-icon-a-icon--github: '\e970';
$a-icon-a-icon--gitlab: '\e971';
$a-icon-a-icon--globe: '\e972';
$a-icon-a-icon--grid: '\e973';
$a-icon-a-icon--hard-drive: '\e974';
$a-icon-a-icon--hash: '\e975';
$a-icon-a-icon--headphones: '\e976';
$a-icon-a-icon--heart: '\e977';
$a-icon-a-icon--help-circle: '\e978';
$a-icon-a-icon--home: '\e979';
$a-icon-a-icon--image: '\e97a';
$a-icon-a-icon--inbox: '\e97b';
$a-icon-a-icon--info: '\e97c';
$a-icon-a-icon--instagram: '\e97d';
$a-icon-a-icon--italic: '\e97e';
$a-icon-a-icon--layers: '\e97f';
$a-icon-a-icon--layout: '\e980';
$a-icon-a-icon--life-buoy: '\e981';
$a-icon-a-icon--link: '\e982';
$a-icon-a-icon--link-2: '\e983';
$a-icon-a-icon--linkedin: '\e984';
$a-icon-a-icon--list: '\e985';
$a-icon-a-icon--loader: '\e986';
$a-icon-a-icon--lock: '\e987';
$a-icon-a-icon--log-in: '\e988';
$a-icon-a-icon--log-out: '\e989';
$a-icon-a-icon--mail: '\e98a';
$a-icon-a-icon--map: '\e98b';
$a-icon-a-icon--map-pin: '\e98c';
$a-icon-a-icon--maximize: '\e98d';
$a-icon-a-icon--maximize-2: '\e98e';
$a-icon-a-icon--menu: '\e98f';
$a-icon-a-icon--message-circle: '\e990';
$a-icon-a-icon--message-square: '\e991';
$a-icon-a-icon--mic: '\e992';
$a-icon-a-icon--mic-off: '\e993';
$a-icon-a-icon--minimize: '\e994';
$a-icon-a-icon--minimize-2: '\e995';
$a-icon-a-icon--minus: '\e996';
$a-icon-a-icon--minus-circle: '\e997';
$a-icon-a-icon--minus-square: '\e998';
$a-icon-a-icon--monitor: '\e999';
$a-icon-a-icon--moon: '\e99a';
$a-icon-a-icon--more-horizontal: '\e99b';
$a-icon-a-icon--more-vertical: '\e99c';
$a-icon-a-icon--move: '\e99d';
$a-icon-a-icon--music: '\e99e';
$a-icon-a-icon--navigation: '\e99f';
$a-icon-a-icon--navigation-2: '\e9a0';
$a-icon-a-icon--octagon: '\e9a1';
$a-icon-a-icon--package: '\e9a2';
$a-icon-a-icon--paperclip: '\e9a3';
$a-icon-a-icon--pause: '\e9a4';
$a-icon-a-icon--pause-circle: '\e9a5';
$a-icon-a-icon--percent: '\e9a6';
$a-icon-a-icon--phone: '\e9a7';
$a-icon-a-icon--phone-call: '\e9a8';
$a-icon-a-icon--phone-forwarded: '\e9a9';
$a-icon-a-icon--phone-incoming: '\e9aa';
$a-icon-a-icon--phone-missed: '\e9ab';
$a-icon-a-icon--phone-off: '\e9ac';
$a-icon-a-icon--phone-outgoing: '\e9ad';
$a-icon-a-icon--pie-chart: '\e9ae';
$a-icon-a-icon--play: '\e9af';
$a-icon-a-icon--play-circle: '\e9b0';
$a-icon-a-icon--plus: '\e9b1';
$a-icon-a-icon--plus-circle: '\e9b2';
$a-icon-a-icon--plus-square: '\e9b3';
$a-icon-a-icon--pocket: '\e9b4';
$a-icon-a-icon--power: '\e9b5';
$a-icon-a-icon--printer: '\e9b6';
$a-icon-a-icon--radio: '\e9b7';
$a-icon-a-icon--refresh-ccw: '\e9b8';
$a-icon-a-icon--refresh-cw: '\e9b9';
$a-icon-a-icon--repeat: '\e9ba';
$a-icon-a-icon--rewind: '\e9bb';
$a-icon-a-icon--rotate-ccw: '\e9bc';
$a-icon-a-icon--rotate-cw: '\e9bd';
$a-icon-a-icon--rss: '\e9be';
$a-icon-a-icon--save: '\e9bf';
$a-icon-a-icon--scissors: '\e9c0';
$a-icon-a-icon--search: '\e9c1';
$a-icon-a-icon--send: '\e9c2';
$a-icon-a-icon--server: '\e9c3';
$a-icon-a-icon--settings: '\e9c4';
$a-icon-a-icon--share: '\e9c5';
$a-icon-a-icon--share-2: '\e9c6';
$a-icon-a-icon--shield: '\e9c7';
$a-icon-a-icon--shield-off: '\e9c8';
$a-icon-a-icon--shopping-bag: '\e9c9';
$a-icon-a-icon--shopping-cart: '\e9ca';
$a-icon-a-icon--shuffle: '\e9cb';
$a-icon-a-icon--sidebar: '\e9cc';
$a-icon-a-icon--skip-back: '\e9cd';
$a-icon-a-icon--skip-forward: '\e9ce';
$a-icon-a-icon--slack: '\e9cf';
$a-icon-a-icon--slash: '\e9d0';
$a-icon-a-icon--sliders: '\e9d1';
$a-icon-a-icon--smartphone: '\e9d2';
$a-icon-a-icon--speaker: '\e9d3';
$a-icon-a-icon--square: '\e9d4';
$a-icon-a-icon--star: '\e9d5';
$a-icon-a-icon--stop-circle: '\e9d6';
$a-icon-a-icon--sun: '\e9d7';
$a-icon-a-icon--sunrise: '\e9d8';
$a-icon-a-icon--sunset: '\e9d9';
$a-icon-a-icon--tablet: '\e9da';
$a-icon-a-icon--tag: '\e9db';
$a-icon-a-icon--target: '\e9dc';
$a-icon-a-icon--terminal: '\e9dd';
$a-icon-a-icon--thermometer: '\e9de';
$a-icon-a-icon--thumbs-down: '\e9df';
$a-icon-a-icon--thumbs-up: '\e9e0';
$a-icon-a-icon--toggle-left: '\e9e1';
$a-icon-a-icon--toggle-right: '\e9e2';
$a-icon-a-icon--trash: '\e9e3';
$a-icon-a-icon--trash-2: '\e9e4';
$a-icon-a-icon--trending-down: '\e9e5';
$a-icon-a-icon--trending-up: '\e9e6';
$a-icon-a-icon--triangle: '\e9e7';
$a-icon-a-icon--truck: '\e9e8';
$a-icon-a-icon--tv: '\e9e9';
$a-icon-a-icon--twitter: '\e9ea';
$a-icon-a-icon--type: '\e9eb';
$a-icon-a-icon--umbrella: '\e9ec';
$a-icon-a-icon--underline: '\e9ed';
$a-icon-a-icon--unlock: '\e9ee';
$a-icon-a-icon--upload: '\e9ef';
$a-icon-a-icon--upload-cloud: '\e9f0';
$a-icon-a-icon--user: '\e9f1';
$a-icon-a-icon--user-check: '\e9f2';
$a-icon-a-icon--user-minus: '\e9f3';
$a-icon-a-icon--user-plus: '\e9f4';
$a-icon-a-icon--user-x: '\e9f5';
$a-icon-a-icon--users: '\e9f6';
$a-icon-a-icon--video: '\e9f7';
$a-icon-a-icon--video-off: '\e9f8';
$a-icon-a-icon--voicemail: '\e9f9';
$a-icon-a-icon--volume: '\e9fa';
$a-icon-a-icon--volume-1: '\e9fb';
$a-icon-a-icon--volume-2: '\e9fc';
$a-icon-a-icon--volume-x: '\e9fd';
$a-icon-a-icon--watch: '\e9fe';
$a-icon-a-icon--wifi: '\e9ff';
$a-icon-a-icon--wifi-off: '\ea00';
$a-icon-a-icon--wind: '\ea01';
$a-icon-a-icon--x: '\ea02';
$a-icon-a-icon--x-circle: '\ea03';
$a-icon-a-icon--x-square: '\ea04';
$a-icon-a-icon--youtube: '\ea05';
$a-icon-a-icon--zap: '\ea06';
$a-icon-a-icon--zap-off: '\ea07';
$a-icon-a-icon--zoom-in: '\ea08';
$a-icon-a-icon--zoom-out: '\ea09';
