$icomoon-font-family: 'rheinklang-icons' !default;
$icomoon-font-path: 'fonts' !default;

$a-icon-facebook: '\e902';
$a-icon-whatsapp: '\e900';
$a-icon-messenger: '\e901';
$a-icon-price-tags: '\e936';
$a-icon-cart: '\e93a';
$a-icon-credit-card: '\e93f';
$a-icon-pushpin: '\e946';
$a-icon-location2: '\e948';
$a-icon-compass2: '\e94a';
$a-icon-map2: '\e94c';
$a-icon-clock: '\e94e';
$a-icon-bubbles: '\e96c';
$a-icon-glass2: '\e9a1';
$a-icon-rocket: '\e9a5';
$a-icon-accessibility: '\e9b2';
$a-icon-power: '\e9b5';
$a-icon-earth: '\e9ca';
$a-icon-link: '\e9cb';
$a-icon-flag: '\e9cc';
$a-icon-attachment: '\e9cd';
$a-icon-sun: '\e9d4';
$a-icon-facebook2: '\ea91';
$a-icon-instagram: '\ea92';
$a-icon-whatsapp1: '\ea93';
$a-icon-telegram: '\ea95';
$a-icon-github: '\eab0';
$a-icon-paypal: '\ead8';
